*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-color: rgb(247, 245, 245);
}

/* ==================== Utility Classes ==================================== */
.container{
    /* border: 2px solid black; */
    width: 800px;
    margin: auto;
}   

.center{
    text-align: center;
}

.hr-line{
    width: 52%;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    
}

.mt{
    margin-top: 20px;
}

/* ========================================================================= */

/* =================== Expanse ============================= */
.expanse-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expanse-container h1{
    margin-top: 20px;
}


.expanse-container h1{
    margin-bottom: 5px;
}
.current-balance{
    text-align: center;
    margin-top: 20px;
}

.current-balance span{
    font-size: 1rem;
    font-weight: bold;
}

/* ================ Balance ================================ */
.balance-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
   
}
.balance-container > div:first-of-type {
    border-right: 1px solid #dedede;
}
  
.income{
  /* border: 2px solid red; */
  width: 200px;
  text-align: center;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 5px 5px 3px 0px gray;
}

.income span{
    color: #b6960a;
    font-weight: 500;
    font-size: 1.5rem;
}


.expense{
  /* border: 2px solid rgb(0, 255, 64); */
  width: 200px;
  text-align: center;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 5px 5px 3px 0px gray;
}

.expense span{
    color: #2da3ad;
    font-weight: 500;
    font-size: 1.5rem;
}
/* ======================== Transaction History ========================*/
.transaction-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;


}
.transaction-item{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px 10px;
    margin: 5px 0px;
    box-shadow: 0px 3px 1px 1px  gainsboro;
    border-right: 5px solid #b6960a;
    transition-property: background-color;    
    transition-duration: 0.5s
}


.transaction-item:hover{
   background-color:  #b6960a;
}

.delete-btn{
    position: absolute;
    z-index: 10;
    transform: translateX(-50px);
    width: 40px;
    height: 30px;
    color: white;
    background-color: tomato;
    outline: none;
    cursor: pointer;
    border: none;
    transform:background-color;
    transition-duration: 0.6s ;
   transition-timing-function: ease-in;
    opacity: 0 ;
    font-size: 1rem;
    font-weight: 900;
    
}

.transaction-item:hover > .delete-btn{
 background-color: tomato;
 opacity: 0.7;
}
/* =================== Add Transaction ===================================== */

.addnew-transactions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.discription {
   /* border: 2px solid black; */
   width: 400px;
   padding: 10px 0px;
}

.discription input{
    width: 100%;
    padding: 10px 0px;
    outline: none;
   
}

.btn{
    width: 100%;
    padding: 10px 0px;
    outline: none;
    cursor: pointer;  
    background-color: rgb(176, 176, 250);
    transition:background-color;
    transition-duration: 1s;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.btn:hover{
    background-color: blue;
}